body
{
	font-family: Arial;
}

header
{
	padding-left: 10%;
	padding-right: 10%;
	background-color: #a8c1ff;
}

h1
{
	padding-top: 60px;
	padding-bottom: 30px;
	color: white;
	font-size: 64px;
	margin: 0px;
	
}

h2
{
	color: #0e3c87;
	margin: 0px;
	font-size: 36px;
	padding-bottom: 20px;
}

aside h3
{
	font-size: 24px;
}

h3
{
	font-size: 36px;
}

h4
{
	font-size: 18px;
}

nav
{
	padding-left: 10%;
	padding-right: 10%;
	padding-bottom: 8px;
	padding-top: 8px;
	background-color: #975A5A;

}										

section
{
	background-color: #ABABAB;

}

aside
{
	/*float: right;*/
}
article
{
	background-color: #ABABAB;
}

div.menu
{
	
}

a
{
	color: white;
	text-decoration: none;
}

a.active
{
	text-decoration: underline;
	color: #461818;
	font-weight: bold;
}

footer
{
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: gray;
	text-align: center;
	font-weight: bold;
}
/* utils*/
.wrapper{
	width:1024px;
	margin:0 auto;
}

.left{
	float:left;
}
.right{
	float:right;
}
.clearfix{
	clear:both;
}
.seven{
	width: 70%;
}
.three{
	width: 25%;
}
